<html>

<head lang="en">

    <link rel="stylesheet" media="all" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link href="./css/style.css" rel="stylesheet" id="style-css">


</head>
<body>
    <div class="content">
        <!-- Nav pills -->
        <ul class="nav nav-pills" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="pill" href="#TTS">Text To Speech</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#STT">Speech To Text</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div id="TTS" class="container tab-pane active">
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Text</label>
                        <input type="text" class="form-control" id="text" placeholder="Some Text">
                        <small class="form-text text-muted">This text will be converted to voice </small>
                    </div>
                    <div class="form-group">
                        <button type="button" id="submit" class="btn btn-primary pull-left">Detect Language</button>

                    </div>
                    <div class="form-group">
                        <label for="name">Detected Language</label>
                        <input type="text" class="form-control" id="lang" readonly>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="voices">Optional Voices</label>
                        <select name="voices" class="form-control" id="voices"></select>
                        <small id="emailHelp" class="form-text text-muted">Optional Voices</small>
                    </div>


                    <div class="form-group">
                        <label for="name">Pitch</label>

                        <div class="slidecontainer">
                            <input type="range" min="1" max="150" value="100" class="slider" id="pitch">
                            <p>Value: <span id="pitch_val"></span></p>
                        </div>
                    </div>
                    <button type="button" id="play" class="btn btn-success btn pull-left">Read it for me</button>
                </form>
            </div>
            <div id="STT" class="container tab-pane fade">
                <form method="post" enctype="multipart/form-data" id="sttform">
                    <div class="form-group">
                        <label>Select audio file</label>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <span class="btn btn-primary btn-file">
                                    Browse… <input type="file" id="imgInp" name="file">
                                </span>
                            </span>
                            <input type="text" class="form-control" readonly>
                        </div>
    
                    </div>

                    <div class="form-group">
                        <label for="voices">Select Language</label>
                        <select name="languages" class="form-control" id="languages"></select>
                        <small id="langHelp" class="form-text text-muted"></small>
                    </div>

                    <div class="form-group">
                        <label for="InputUsername">Transcript</label>
                        <textarea class="form-control" name="trsnscript" id="trsnscript"></textarea>
                        <small id="transcriptHelp" class="form-text text-muted"></small>
                    </div>
                     <button type="button" id="transciptBtn" class="btn btn-primary">Write it for me</button>
                </form>
            </div>
        </div>
    </div>
</body>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/form-scripts.js"></script>


</html>